{% extends 'partials/base.html.twig' %}

{% block addcss %}
<link href="/user/themes/sinoclean/css/default.css" type="text/css" rel="stylesheet" />
{{ header.css }}
{% endblock %}

{% block addjs %}
<script src="/user/themes/sinoclean/js/default.js" type="text/javascript" ></script>
{{ header.js }}
{% endblock %}


{% block head_img %}
{% if header.background_pic %}
  <div class="head_img" style="background: url({{header.background_pic }}) no-repeat center;" >
  </div>
{% endif %}
{% endblock %}



{% block content %}
    {{ page.content }}


    <!-- Projects -->

    <div class="engin_fields">
      {% for p in page.collection %}
      <a href="./{{ header.slug }}/{{ p.slug }}">
      <div class="button_field">
        <div class="img">
        <img src="{{ p.header.content_img }}" />
        </div>
        <h3>{{ p.title }}</h3>
      </div>
      </a>
      {% endfor %}



    </div>

{% endblock %}
